.section2{
    background-color: #EEEEEE;
    padding: 5% 5% 5% 5% !important;  
    font-family: Montserrat !important; 
}

.sec2head{
    font-weight: bolder;
    text-align: center;
}

.cards{
    margin-top: 6%;
}

.card{
    padding:0px 20px;
    background-color: transparent !important;
    border: transparent !important;
    text-align: center;
    font-size: 24px;  
}

.card > div >p{
margin-top: 12%;
}

.card >div >h5{
    font-size: 30px !important; 
}

.card > div > button{ 
    padding: 5px 40px 5px 40px !important; 
}

.card-title
{
    font-weight: bold;
    margin-top: 5%;
}

.btn4 {
    border-radius: 10px !important;
    border: 3px solid #00adb5 !important;
    margin-top: 10%;
    max-height: 2.5rem;
    font-size: 1.05rem !important; 
    background-color: #fff !important;
    color: #00adb5 !important;  
  }

  .round{
      border-radius:10px !important;
      box-shadow:4px 4px 5px #d3d3d3;
  }

   

